  
    <p style="text-align: center; color: aliceblue; font-size: 1.5em;">Seleccione el país</p>
    <div class="container-fluid">
      <div class="row" style="margin-top:50px;">
        <div class="col-xl-3 col-md-6 mb-2">
          <div class="card border-left-red shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-white">Chile</div>
                  <hr>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Flag_of_Chile.svg"
                    style="width: 60%; height: 55px; position: relative;margin-left: 6%;">
                </div>
                <div class="col-auto" style="background-color: aliceblue;border-radius: 10px;">
                <form >
              
                  <button class="btn btn-white " type="button" (click)="savecountry('Chile')" >
                    <i class="fas fa-check-circle fa-2x text-black owo"></i>
                  </button>
                </form>
              
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-2">
          <div class="card border-left-yellow shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-white">Colombia </div>
                  <hr>
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/1200px-Flag_of_Colombia.svg.png"
                    style="width: 60%; height: 55px; position: relative;margin-left: 6%;">
                </div>
                <div class="col-auto" style="background-color: aliceblue;border-radius: 10px;">
                  <button class="btn btn-white " type="button" (click)="savecountry('Colombia')" >
                    <i class="fas fa-check-circle fa-2x text-black owo"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-2">
          <div class="card border-left-white shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-white">Costa Rica</div>
                  <hr>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Flag_of_Costa_Rica.svg"
                    style="width: 60%; height: 55px; position: relative;margin-left: 6%;">
                </div>
                <div class="col-auto" style="background-color: aliceblue;border-radius: 10px;">
                  <button class="btn btn-white " type="button" (click)="savecountry('Costa Rica')" >
                    <i class="fas fa-check-circle fa-2x text-black owo"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-2">
          <div class="card border-left-blue shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-white">R.Dominicana</div>
                  <hr>
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Flag_of_the_Dominican_Republic.svg"
                    style="width: 60%; height: 55px; position: relative;margin-left: 6%;">
                </div>
                <div class="col-auto" style="background-color: aliceblue;border-radius: 10px;">
                  <button class="btn btn-white " type="button" (click)="savecountry('República Dominicana')" >
                    <i class="fas fa-check-circle fa-2x  owo"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>

