

    <p style="text-align: center; color: aliceblue; font-size: 1.5em;">Seleccione el Área</p>
    <div class="container-fluid">
      <div class="row" style="margin-top:50px;">
        <div class="col-xl-3 col-md-6 mb-2">
          <div class="card border-left-red shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-white">Siebel</div>
                  <hr>
                  <img src="assets/siebel.png"
                    style="width: 70%; height: 55px; position: relative;margin-left: 6%;">
                </div>
                <div class="col-auto" style="background-color: aliceblue;border-radius: 10px;">
                  <button class="btn btn-white" (click)="savearea('Siebel')">
                    <i class="fas fa-check-circle fa-2x text-black owo"></i>
                  </button>
                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-2">
          <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-white">Batch </div>
                  <hr>
                  <img
                    src="assets/Batch.png"
                    style="width: 50%; height: 50px; position: relative;margin-left: 6%;">
                </div>
                <div class="col-auto" style="background-color: aliceblue;border-radius: 10px;">
                  <button class="btn btn-white" (click)="savearea('Batch')">
                    <i class="fas fa-check-circle fa-2x text-black owo"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-2">
          <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-white">Reunión</div>
                  <hr>
                  <img src="assets/reunion.png"
                    style="width: 60%; height: 55px; position: relative;margin-left: 6%;">
                </div>
                <div class="col-auto" style="background-color: aliceblue;border-radius: 10px;">
                  <button class="btn btn-white" (click)="savearea('Reunión')">
                    <i class="fas fa-check-circle fa-2x text-black owo"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
    <div class="container-fluid">
      <div class="row" style="margin-top:50px;">
        <div class="col-xl-3 col-md-6 mb-2">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-white">OS</div>
                  <hr>
                  <img
                    src="assets/os.png"
                    style="width: 50%; height: 55px; position: relative;margin-left: 6%;">
                </div>
                <div class="col-auto" style="background-color: aliceblue;border-radius: 10px;">
                  <button class="btn btn-white" (click)="savearea('OS')">
                    <i class="fas fa-check-circle fa-2x text-black owo"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-2">
          <div class="card border-left-green shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-white">Otros </div>
                  <hr>
                  <img src="assets/more.webp"
                    style="width: 50%; height: 55px; position: relative;margin-left: 6%;">
                </div>
                <div class="col-auto" style="background-color: aliceblue;border-radius: 10px;">
                  <button class="btn btn-white" (click)="savearea('Otros')">
                    <i class="fas fa-check-circle fa-2x text-black owo"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>