<div class="col-md-4 offset-md-4">
    <div class="card" style="border-radius: 10px 10px; margin: 1px solid black;">
        <div class="card-body">
            <form (submit)="loginGoogle()">
                <h3 style="text-align: center; color: aliceblue;">Bienvenido!</h3>
                <span class="login-form-icon">
                    <img src="assets/AIT.png" class="img-fluid" >
                </span>
                <div style="text-align: center;">
                    <p style="color: aliceblue; margin-top: 20px; font-size:1.2em">Para entrar al sistema debes usar tu <strong style="color: #e74a3b;"> Cuenta de Google</strong></p>
                </div>
                <button class="btn btn-info btn-block login" style="border-radius: 20px;">
                    Entrar
                </button>
            </form>
        </div>
    </div>   